// Fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Colors
$dark: #a5c8ef;
$accent: #ffc800;
$white: #000;
$footer-bg: #5ea9ff;
$placeholder: #000;
$muted: #000;

// Media
$tablet: 959px;

/* 
$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;
*/
